player-connection-mode=Listen
player-connection-guid=2346546876
player-connection-debug=0
player-connection-project-name=TAG
player-connection-ip=192.168.35.108
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=abdf9e32cb7f44809d4282bb993cb467
